
@if(erro()){
  <app-erro-modal titulo="Ocorreu um erro!" [mensagem]="erro()" (eventoErro)="removerModalErro()"></app-erro-modal>
}
@if(resultadoJogos()) {
  
  <div class="resultado">
    <h1>Resultados </h1>
    <p class="resultado-valor">
      {{resultadoJogos()?.dataPrimeiroJogo | date:'dd/MM/yyyy'}} até 
      {{resultadoJogos()?.dataUltimoJogo| date:'dd/MM/yyyy'}}
    </p>
  </div>

  @for(resultado of resultados; track resultado.titulo){

    <div class="resultado">
      <p class="resultado-titulo">{{ resultado.titulo }}</p>
      <p class="resultado-valor">{{ resultado.valor}}</p>
    </div>
    <hr class="linha-separadora">
  }

  
  
}


